modules = ["nodejs-20"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 41020463
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Run"
author = 41020463
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
